<!-- <div class="container-fluid background-navy">
  <div class="row">
    <div class="col-md-6 color-white d-flex justify-content-center">
      <div class="row">
        <div class="col-md-12">
          <div class="align-middle mt-5" >
            <span class="font-weight-light hello">Hello,</span>
            <span class="font-weight-bold name">Omowunmi</span>
          </div>
        </div>
        <div class="col-md-12">
          <span class="font-small opacity-66">Welcome to your dashboard, kindly sort through your database</span>
        </div>
        <div class="col-md-12">
          <div class = "search">
            <div class="md-form">
              <mdb-icon fas icon="search" class="prefix"></mdb-icon>
              <input mdbInput type="text" id="form2" class="form-control">
              <label for="form2">Example label</label>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>

  </div>
</div> -->

<div class="container-fluid background-navy full-height">
  <div class="row">
    <div class="col-md-6 pt-4 font-white full-height align-middle" >
      <div class="row top-30 ">
        <div class="mb-4 col-md-12">
          <div class="d-flex justify-content-center">
            <div>
              <span class="header-font">Hello, <span class="font-weight-bold">Omowunmi</span></span><br/>
              <p class="grey-text">Welcome to your dashboard, kindly sort through the user base</p>
              <div class = "">
                <div class="form-group has-search">
                  <span class="fa fa-search form-control-feedback"></span>
                  <input type="text" class="form-control search-bck" placeholder="Find a User">
                </div>
              </div>
            </div>
          </div>
           </div>
           <div class="col-md-12" >
             <div class="">
               <div class="pl-5 ml-4">
                <div class="py-3 pl-4 -text font-weight-bold color-white">Show Users </div>
                <div class="row ml-3">
                  <span>
                    <a routerLink = "/all-users">
                      <button mdbBtn type="button" color="pink" mdbWavesEffect>
                        <mdb-icon fas icon="users" size="2x"></mdb-icon>
                      </button>
                    </a>
                   </span>
                  <span>
                    <a routerLink = "/male-users">
                      <button mdbBtn type="button" color="cyan" mdbWavesEffect>
                        <mdb-icon fas icon="male" size="2x"></mdb-icon>
                      </button>
                    </a>

                   </span>
                  <span>
                    <a routerLink = "/female-users">
                      <button mdbBtn type="button" color="purple" mdbWavesEffect>
                        <mdb-icon fas icon="female" size="2x"></mdb-icon>
                      </button>
                    </a>
                   </span>
                </div>
               </div>

             </div>

          </div>
      </div>




    </div>
    <div class="col-md-6">
      <div class="card light-grey-background round-border  mt-2">
        <router-outlet></router-outlet>
        </div>
    </div>
  </div>

</div>



