<div class="animate__animated animate__backInRight card light-grey-background round-border  mt-2">
  <div class="p-4 color-navy font-weight-bold">
    <h2>Female Users
      <span class="float-right">
      <a (click)="downloadPage()"><mdb-icon class="cyan-text" fas icon="file-download"></mdb-icon></a>
      </span>
    </h2>
    <span class="opacity-50 font-small ">Filter By</span>
  <div class="row mt-1">
    <div class="col-md-5 col-sm-5">
      <div class = "">
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>

          <input type="text" class="form-control search-users round-border" name="searchParam" placeholder="Find in List" [(ngModel)]="searchParam" (keyup.enter)="searchUser(searchParam)" >
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="btn-group" mdbDropdown [autoClose]="closeDd">
        <button mdbDropdownToggle type="button" size="sm" mdbBtn color="primary" class="semi-round-border dropdown-toggle waves-light"
          mdbWavesEffect>
          Country List
        </button>

        <div class="dropdown-menu dropdown-primary">
          <form>
            <input type="text" class="form-control" name="searchCountryParam" placeholder="Search Countries" [(ngModel)]="searchCountryParam" (keyup)="searchCountry(searchCountryParam)" >
          </form>
          <a class="dropdown-item" *ngFor="let country of countryList" href="#" (click)="closeDd = true">{{country.name}}</a>
          <!-- <div class="divider dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
     <!-- Default switch -->
  <div class="custom-control custom-switch p-2">
    <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="showCountry">
    <label class="custom-control-label" for="customSwitches">Show Country</label>
  </div>
    </div>
  </div>
  <div class="card semi-round-border my-4 animate__animated animate__backInDown" *ngFor="let user of femaleUsers">
    <a (click)="goToDetail(user)">
      <div class="row p-2">
        <div class="col-md-2 col-sm-2 text-center mt-3">
          <img [src]="user.picture.thumbnail" class="thumbnail-image"/>
        </div>
        <div class="col-md-8 col-sm-8">
          <strong>{{user.name.title}} {{user.name.first}} {{user.name.last}}</strong><br/>
          <p class="opacity-50">{{user.location.street.number}} {{user.location.street.name}}, {{user.location.city}}
             {{user.location.state}}</p>
          <span *ngIf="showCountry" class=" font-small" >Country: {{user.location.country}}</span>
          <p class="opacity-50"><span> <mdb-icon fas icon="envelope" ></mdb-icon> {{user.email}}</span>&nbsp;&nbsp;
            <span><mdb-icon fas icon="phone-alt"></mdb-icon> {{user.phone}}</span></p>

        </div>
        <div class="col-md-2 col-sm-2">
          <div class="iconBox text-center">
            <mdb-icon fas icon="arrow-right"></mdb-icon>
          </div>
        </div>
      </div>
    </a>



  </div>
  <div class="">

    <button type="button" mdbBtn color="secondary" mdbWavesEffect (click)="downloadPage()">
      <mdb-icon class="white-text" fas icon="cloud-download-alt"></mdb-icon><span class="white-text font-small capitalize"> Download Results</span></button>
  <span class="float-right">
    <a mdbBtn size="sm" color="dark" (click)="prevPage()" [attr.disabled]="page == 1" [class.disabled]="page == 1"><mdb-icon fas icon="arrow-left"></mdb-icon></a>
    <a mdbBtn size="sm" color="dark" (click)="nextPage()"><mdb-icon fas icon="arrow-right"></mdb-icon></a>

  </span>
     </div>

  </div>
</div>
